<a href="https://www.kaggle.com/code/ikram98ai/google-data-analytics-capstone-bella-beat?scriptVersionId=176980895" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [366]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt 

import os, re
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
            print(os.path.join(dirname, filename))

/kaggle/input/fitbit/mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16/minuteCaloriesNarrow_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16/weightLogInfo_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16/minuteMETsNarrow_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16/hourlyCalories_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16/heartrate_seconds_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16/minuteSleep_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16/hourlyIntensities_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16/hourlySteps_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16/minuteStepsNarrow_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16/minuteIntensitiesNarrow_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16/dailyActivity_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/minuteCaloriesNarrow_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/weightLogInfo_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/sleepDay_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/dailyIntensities_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/minuteIntensitiesWide_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/minuteMETsNarrow_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/dailyCalories_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/hourlyCalories_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/heartrate_seconds_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/minuteSleep_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/hourlyIntensities_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/hourlySteps_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/minuteStepsNarrow_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/dailySteps_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/minuteStepsWide_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/minuteIntensitiesNarrow_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/minuteCaloriesWide_merged.csv
/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/dailyActivity_merged.csv

# **How Can a Wellness Technology Company Play It Smart?**

# **Ask**

##  **A clear summary of the business task**

An analysis of Bellabeat’s available consumer data would reveal more opportunities for growth. Focus on a Bellabeat product and analyze smart device usage data in order to gain insight into how people are already using their smart devices. Then, using this information, state high-level recommendations for how these trends can inform Bellabeat marketing strategy.

1. What are some trends in smart device usage?
2. How could these trends apply to Bellabeat customers?
3. How could these trends help influence Bellabeat marketing strategy?

# **Prepare**

**Key tasks**
1. Download data and store it appropriately.
2. Identify how it’s organized.
3. Sort and filter the data.
4. Determine the credibility of the data.

**Deliverable**

**A description of all data sources used:**
[FitBit Fitness Tracker Data](https://www.kaggle.com/datasets/arashnic/fitbit) (CC0: Public Domain, dataset made available through [Mobius](https://www.kaggle.com/arashnic)). This Kaggle data set contains personal fitness tracker from thirty fitbit users. Thirty eligible Fitbit users consented to the submission of personal tracker data, including minute-level output for physical activity, heart rate, and sleep monitoring. It includes information about daily activity, steps, and heart rate that can be used to explore users’ habits.

In [367]:
daily_df = pd.concat((pd.read_csv('/kaggle/input/fitbit/mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16/dailyActivity_merged.csv'),
                      pd.read_csv('/kaggle/input/fitbit/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/dailyActivity_merged.csv')),\
                      axis=0).reset_index(drop=True)
daily_df.head(2)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154

In [368]:
minute_df_dict= {}
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        if re.findall('^minute.+Narrow.*',filename):
            if filename in minute_df_dict:
                minute_df_dict[filename] = pd.concat((minute_df_dict[filename],pd.read_csv(os.path.join(dirname, filename))),axis=0)
            else:
                minute_df_dict[filename] = pd.read_csv(os.path.join(dirname, filename))
                
_, minute_df = minute_df_dict.popitem()
for df in minute_df_dict.values():
    minute_df = minute_df.merge(df,on=['Id','ActivityMinute'],how='inner')
minute_df.head(2)

           Id         ActivityMinute  Intensity  Calories  METs  Steps
0  1503960366  3/12/2016 12:00:00 AM          0    0.7973    10      0
1  1503960366  3/12/2016 12:01:00 AM          0    0.7973    10      0

A MET is a way to measure your body’s expenditure of energy. The higher the MET value of a particular activity, the more energy your muscles will need to expend to do that activity.

> One MET is approximately 3.5 milliliters of oxygen consumed per kilogram of body weight per minute.

In [369]:
minute_df.sort_values('Steps')

                 Id         ActivityMinute  Intensity   Calories  METs  Steps
0        1503960366  3/12/2016 12:00:00 AM          0   0.797300    10      0
1859257  2320127002   4/18/2016 8:37:00 AM          0   1.104000    12      0
1859260  2320127002   4/18/2016 8:40:00 AM          0   1.104000    12      0
1859261  2320127002   4/18/2016 8:41:00 AM          0   1.104000    12      0
1859262  2320127002   4/18/2016 8:42:00 AM          0   0.920000    10      0
...             ...                    ...        ...        ...   ...    ...
2021567  3977333714  4/29/2016 10:47:00 PM          3   9.626990   137    190
1166363  7007744171   3/30/2016 8:23:00 AM          3  10.487640    97    200
393728   2347167796  3/18/2016 10:08:00 PM          3   8.004450    85    204
2253946  4558609924   4/27/2016 6:46:00 PM          3   5.975680    64    207
2690924  8053475328   4/30/2016 3:44:00 PM          3  16.437599   135    220

[2917620 rows x 6 columns]

# **Process**

**Key tasks**
1. Check the data for errors.
2. Choose your tools.
3. Transform the data so you can work with it effectively.
4. Document the cleaning process.

In [370]:
daily_df.isna().sum()

Id                          0
ActivityDate                0
TotalSteps                  0
TotalDistance               0
TrackerDistance             0
LoggedActivitiesDistance    0
VeryActiveDistance          0
ModeratelyActiveDistance    0
LightActiveDistance         0
SedentaryActiveDistance     0
VeryActiveMinutes           0
FairlyActiveMinutes         0
LightlyActiveMinutes        0
SedentaryMinutes            0
Calories                    0
dtype: int64

In [371]:
daily_df.duplicated(keep='first').sum()

0

In [372]:
minute_df.isna().sum()

Id                0
ActivityMinute    0
Intensity         0
Calories          0
METs              0
Steps             0
dtype: int64

In [373]:
minute_df.duplicated(keep='first').sum()

157500

In [374]:
minute_df = minute_df.reset_index(drop=True)

In [375]:
minute_df.shape

(2917620, 6)

In [376]:
minute_df.drop_duplicates(keep='first',inplace=True)
minute_df.shape

(2760120, 6)

In [377]:
from datetime import datetime as dt

In [378]:
daily_df['ActivityDate'] = pd.to_datetime(daily_df['ActivityDate'], format='%m/%d/%Y')

In [379]:
minute_df['ActivityMinute'] = pd.to_datetime(minute_df['ActivityMinute'], format='%m/%d/%Y %I:%M:%S %p')

In [380]:
minute_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2760120 entries, 0 to 2917619
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   Id              int64
 1   ActivityMinute  datetime64[ns]
 2   Intensity       int64
 3   Calories        float64
 4   METs            int64
 5   Steps           int64
dtypes: datetime64[ns](1), float64(1), int64(4)
memory usage: 147.4 MB

**Deliverable**

Documentation of any cleaning or manipulation of data

* Droped 157500 duplicate entries
* change string date to datetime object

# **Analyze**

Guiding questions

* How should you organize your data to perform analysis on it?
* Has your data been properly formatted?
* What surprises did you discover in the data?
* What trends or relationships did you find in the data?
* How will these insights help answer your business questions?

Key tasks
1. Aggregate your data so it’s useful and accessible.
2. Organize and format your data.
3. Perform calculations.
4. Identify trends and relationships.

In [381]:
minute_df.describe()

,Id,ActivityMinute,Intensity,Calories,METs,Steps
count,2.760120e+06,2760120,2.760120e+06,2.760120e+06,2.760120e+06,2.760120e+06
mean,4.869781e+09,2016-04-10 17:26:28.129643520,1.903754e-01,1.597030e+00,1.446218e+01,5.047862e+00
min,1.503960e+09,2016-03-12 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.320127e+09,2016-03-26 12:29:45,0.000000e+00,9.357000e-01,1.000000e+01,0.000000e+00
50%,4.558610e+09,2016-04-10 10:53:00,0.000000e+00,1.217600e+00,1.000000e+01,0.000000e+00
75%,6.962181e+09,2016-04-25 16:15:00,0.000000e+00,1.431000e+00,1.100000e+01,0.000000e+00
max,8.877689e+09,2016-05-12 15:59:00,3.000000e+00,2.301264e+01,1.890000e+02,2.200000e+02
std,2.421117e+09,NaN,5.065391e-01,1.386245e+00,1.179921e+01,1.766869e+01

In [382]:
daily_df['day'] =  daily_df.ActivityDate.dt.strftime('%a')
daily_df.head(2)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,day
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,Fri
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,Sat

In [ ]:
minute_df['minute'] = minute_df.ActivityMinute.dt.strftime('%M')
minute_df['hour'] = minute_df.ActivityMinute.dt.strftime('%H')
minute_df['day'] = minute_df.ActivityMinute.dt.strftime('%a')
minute_df.head()

In [ ]:
plt.figure(figsize=(20,5))
plt.subplot(1,4,1)
sns.boxplot(y=minute_df.Calories)
plt.subplot(1,4,2)
sns.boxplot(y=minute_df.METs)
plt.subplot(1,4,3)
sns.boxplot(y=minute_df.Steps)
plt.subplot(1,4,4)
sns.boxplot(y=minute_df.Intensity)

In [ ]:
plt.figure(figsize=(24,6))
plt.subplot(1,4,1)
sns.boxplot(y=minute_df.Calories,showfliers=False)
plt.subplot(1,4,2)
sns.boxplot(y=minute_df.METs,showfliers=False)
plt.subplot(1,4,3)
sns.boxplot(y=minute_df.Steps,showfliers=False)
plt.subplot(1,4,4)
sns.boxplot(y=minute_df.Intensity,showfliers=False)

In [ ]:
def remove_outliers(df,col):
    Q1= df[col].quantile(.25)
    Q3 = df[col].quantile(.75)
    IQR = Q3 - Q1
    low_lim= Q1 - (1.5 * IQR)
    up_lim = Q3 + (1.5 * IQR)
    return df[ (df[col]>=low_lim) & (df[col]<=up_lim) ]

In [ ]:
# print(minute_df.shape)
# for col in ['Calories','METs']:
#     minute_df = remove_outliers(minute_df,col)
# print(minute_df.shape)

In [ ]:
mean_minute_df = minute_df.groupby('minute')[['Intensity','Calories','METs','Steps']].agg('mean')

In [ ]:
plt.plot(mean_minute_df.index,mean_minute_df.Calories,marker='o',label='Calories')
plt.xlabel('Minute of Hour')
plt.ylabel('Mean Calories per minute of day')
plt.xticks(range(0,61,10))
plt.show()

In [ ]:
mean_hour_df = minute_df.groupby('hour')[['Intensity','Calories','METs','Steps']].agg('mean')

In [ ]:
plt.figure(figsize=(15,5))
plt.subplot(1,2,1)
plt.plot(mean_hour_df.index,mean_hour_df.Calories,marker='o',label='Calories')
plt.xlabel('Hour of day')
plt.ylabel('Mean Calories per hour of day')

plt.subplot(1,2,2)
plt.plot(mean_hour_df.index,mean_hour_df.METs,marker='o',label='METs')
plt.xlabel('Hour of day')
plt.ylabel('Mean METs per hour of day')
plt.show()

In [ ]:
mean_day_df = minute_df.groupby('day')[['Intensity','Calories','METs','Steps']].agg('mean')

In [ ]:
mean_day_df = mean_day_df.reindex( pd.Index(['Mon','Tue', 'Wed', 'Thu','Fri', 'Sat', 'Sun']))

In [ ]:
plt.figure(figsize=(15,5))
plt.subplot(1,2,1)
plt.plot(mean_day_df.index,mean_day_df.METs,marker='o',label='METs')
plt.ylabel('Mean METs per day of week')

plt.subplot(1,2,2)
plt.plot(mean_day_df.index,mean_day_df.Calories,marker='o',label='Clories')
plt.ylabel('Mean Calories per day of week')
plt.show()

In [ ]:
# sns.pairplot(minute_df[['Intensity','Calories','METs','Steps']])

In [ ]:
minute_df.Intensity.value_counts()

In [ ]:
minute_df[minute_df['Steps']==0].groupby('hour')['Id'].agg('count')

In [ ]:
daily_df.describe()

In [ ]:
mean_day_daily_df= daily_df.groupby('day').agg('mean',numeric_only=True).drop('Id',axis=1).reindex( pd.Index(['Mon','Tue', 'Wed', 'Thu','Fri', 'Sat', 'Sun']))
mean_day_daily_df

**Deliverable**

A summary of your analysis